body{
    /*background-image: url(../img/4324330.png);*/

}
.wrapper{
    /*font-size: 0;*/
    /*margin: auto;*/
    /*max-width: 1280px;*/
    /*min-width: 1280px;*/
    /*border: 1px solid gray;*/
    /*padding: 10px;*/
    /*height: 1024px;*/
    /*background-color: #ffffff;*/
}

.wrapper > *{
    font-size: 12pt;

}
.options, .map-container, .manage-markers-menu{
    -webkit-transition: all 0.5s ease 0;
    -moz-transition: all 0.5s ease 0;
    -ms-transition: all 0.5s ease 0;
    -o-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
}
.options{
    position: absolute;
    top: 0;
    width : 350px;
    left: -350px;
    /*max-height: 800px;*/

    /*height: 100%;*/
    /*display: inline-block;*/
    padding: 5px;

    bottom: 0;

    overflow-y: auto;
    z-index: 100;

}
.tab-pane{
    padding: 5px;
}
.manage-markers-menu{
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -30px;
    padding: 25px;
    z-index: 115;
    background-color:#fcfcfc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,1);

    /*-webkit-transition: none;*/
    /*-moz-transition: none;*/
    /*-ms-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none;*/

    /*#ffff00;*/
}
.manage-markers-menu:hover{
    box-shadow: 0 0 10px rgba(150,0,0,1);
    color: rgba(150,0,0,1);
}
.tab-content{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 100%;
    max-height: 960px;
}
.map-container{
    /*width: 65%;*/
    /*display: inline-block;*/
    /*height: 100%;*/
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
}
.non-active{
    display: none;
}
.relative{
    position: relative;
}
.align-right{
    position:absolute;
    right: 5px;
    top:5px;
}
.remove-group, .remove-group-marker, .edit-marker, .animate-group-marker, .show-hull{
    cursor: pointer;
    text-decoration: none;
}
.remove-group:hover, .remove-group-marker:hover, .edit-marker:hover, .animate-group-marker:hover, .show-hull:hover{
    color:red
}
.marker{
    margin: 3px 5px 3px 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: #C5F8AA;/*#A5EA00;/*#DECCEC;*/
    color: #194CFF;
}
.description{
    /*margin-right: 75px;*/
    display:inline-block;
    padding-right: 60px;
}
.must-scroll{
    max-height: 400px;
    overflow-y: auto;
}
.marker-icon-text>img{
    height:15px;
}
.glyphicon-th-list{
    cursor: pointer;
}
.glyphicon-polygon{
    background-image: url(../img/glyphicons_096_vector_path_polygon.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
}
.panel{
    padding: 5px;
}
.show-hide-group{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: inherit !important;
    /*top:97%;*/
    bottom: -5px;
    left: 50%;
    margin-left: -7px;
    cursor: pointer;
}
.show-hide-group:hover{
    color: #008800;
}
.glyphicon:before{
    text-decoration: none !important;
}
.glyphicon:before:hover{
    text-decoration: none !important;
}
.glyphicon{
    text-decoration: none !important;
}
.error{
    border: 2px solid red;
    color:red;
}
.error-menu{
    color:red;
}
.transition{
    -webkit-transition: border 2s linear 0s;
    -moz-transition: border 2s linear 0s;
    -ms-transition: border 2s linear 0s;
    -o-transition: border 2s linear 0s;
    transition: border 2s linear 0s;

}
.panel-title{
    padding-right:50px;
}
.marker-image{
    width:250px;
    display: block;
    margin: auto;
}
.marker-image-preview{
    width:100px;
    border: 1px solid gray;
}